name: Test self-hosted

on:
  push:
    branches: [ "master" ]

jobs:
  debug:
    runs-on: self-hosted
    steps:
      - name: Print working directory
        run: pwd
      - name: List files
        run: ls
